<div class="grid grid-cols-2">
    <div class="bg-red-200">
        {{!-- some kind of color animation --}}
    </div>
    <div class="flex flex-col justify-center gap-5 px-5">
        <div>
            <h1 class="text-5xl font-black">CARsvp</h1>
            <h3 class="text-lg">Make Plans, Invite, Count Cars</h3>
        </div>
        <a>
            <button class="text-xl font-bold border rounded-xl p-2 text-white bg-rose-800">Get Started</button>
        </a>
    </div>
</div>